{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>О нас</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

{% endblock %}

{% block main %}

<section class="hero-section">
    
    <div class="container">
        <div class="hero-text">
            <h1>Выходим на новый уровень в поиске жилья в аренду</h1>
            <p>Добро пожаловать в Rentui. 
               Здесь ваши планы по недвижимости встречаются с экспертной поддержкой.
               Изучите наши услуги, созданные для того, чтобы решить любой ваш вопрос — от поиска квартиры до управления объектами.</p>
        </div>

        <div class="services-grid">
            <div class="service-card">
                <a href="{% url 'properties' %}">

                    <div class="icon-box"><img src="{% static 'img/service3.png' %}" alt=""></div>
                    <p>Найти дом мечты</p>
                    <img class="arrow" src="{% static 'img/arrow.png' %}" alt="">

                </a>
            </div>

            <div class="service-card">
                <a href="{% url 'about' %}">

                <div class="icon-box"><img src="{% static 'img/service1.png' %}" alt=""></div>
                <p>Оценить недвижимость</p>
                <img class="arrow" src="{% static 'img/arrow.png' %}" alt="">

                </a>
            </div>

            <div class="service-card">
                <a href="https://www.instagram.com/fidea.312/">

                <div class="icon-box"><img src="{% static 'img/service.png' %}" alt=""></div>
                <p>Управление объектами</p>
                <img class="arrow" src="{% static 'img/arrow.png' %}" alt="">

                </a>
            </div>



        </div>
    </div>
</section>

<main>

    <div class="container main-flex">
        
        <div class="main-about-left">
            <h1>Наше путешествие</h1>
            <p>
                Rent Ui - это современная экосистема для поиска жилья.
                Мы автоматизировали процесс проверки объявлений, чтобы вы могли
                сосредоточиться на выборе комфортного дома, а не на проверке документов.
                Наша цель - сделать рынок аренды в Кыргызстане открытым и безопасным.
            </p>

            <div class="main-about-content">
                <a href="{% url 'properties' %}" class="main-about-item">
                    <h2>100%</h2>
                    <p>Проверенные объекты</p>
                </a>
                <a href="{% url 'properties' %}" class="main-about-item">
                    <h2>10</h2>
                    <p>Подписчиков в Instagram</p>
                </a>

            </div>
        </div>
        
        <div class="main-about-right">
            <img src="{% static 'img/main-about.png' %}" alt="About Us">
        </div>
    </div>

</main>


<section class="values">
    <div class="container values-container">
        
        <div class="values-left">
            <h1>Наши ценности</h1>
            <p>Наша история - это путь постоянного роста и эволюции. Мы начинали как небольшая команда с большими амбициями, полная решимости создать платформу по недвижимости, выходящую за рамки привычного.</p>
        </div>

        <div class="values-right">
            <div class="values-grid">
                
                <div class="values-grid-item">
                    <div class="values-item-header">
                        <div class="icon-circle"><img src="{% static 'img/stars-about.png' %}" alt=""></div>
                        <h2>Доверие</h2>
                    </div>
                    <p>Доверие - это фундамент любой успешной сделки с недвижимостью..</p>
                </div>

                <div class="values-grid-item">
                    <div class="values-item-header">
                        <div class="icon-circle"><img src="{% static 'img/education.png' %}" alt=""></div>
                        <h2>Ценности</h2>
                    </div>
                    <p>Мы ставим высокую планку во всём: от объектов в нашем каталоге до услуг, которые мы оказываем.</p>
                </div>

                <div class="values-grid-item">
                    <div class="values-item-header">
                        <div class="icon-circle"><img src="{% static 'img/contacts.png' %}" alt=""></div>
                        <h2>Интересы клиента</h2>
                    </div>
                    <p>Ваши мечты и потребности - в центре нашей вселенной. Мы слушаем и понимаем.</p>
                </div>

                <div class="values-grid-item">
                    <div class="values-item-header">
                        <div class="icon-circle"><img src="{% static 'img/stars-about.png' %}" alt=""></div>
                        <h2>Наши обязательства</h2>
                    </div>
                    <p>Мы стремимся обеспечить вам высочайший уровень сервиса, профессионализма и поддержки.</p>
                </div>

            </div>
        </div>

    </div>
</section>

{% comment %} 
<section class="info">

    <div class="container">

        <div class="info-left">

            <h1>Умные и взвешенные решения</h1>
            <p>Создание портфеля недвижимости требует стратегии.
            Наши консультации помогут вам инвестировать с умом и не упускать выгоду.</p>
            

        </div>

        <div class="info-right">

            <div class="info-right-top">


                    <div class="info-card">

                        <div>
                            <img src="{% static 'img/stats.png' %}">
                            <h2>Анализ рынка</h2>
                        </div>

                        <p>Будьте на шаг впереди трендов. Мы проводим глубокий анализ рынка, чтобы вы знали реальную ситуацию в сфере недвижимости.</p>

                    </div>


                    <div class="info-card">
                        <div>
                            <img src="{% static 'img/stats.png' %}" alt="LinkedIn">
                            <h2>Оценка рисков</h2>
                        </div>

                        <p>Помогаем предусмотреть всё.
                        Анализируем юридические и финансовые нюансы перед каждой важной сделкой.</p>

                    </div>

            </div>



            <div class="info-right-bottom">

                    <div class="info-card">
                        
                        <div>
                            <img src="{% static 'img/stats.png' %}" alt="LinkedIn">
                            <h2>Тренды цен</h2>
                        </div>

                        <p>Мы отслеживаем динамику цен, чтобы вы арендовали на минимуме, и получали кайф по максимуму.</p>

                    </div>


                    <div class="info-card">
                        <div>
                            <img src="{% static 'img/stats.png' %}" alt="LinkedIn">
                            <h2>Стратегия роста</h2>
                        </div>
                        <p>Составляем план развития ваших объектов, чтобы со временем их стоимость и доходность только росли.</p>

                    </div>
        

            </div>

        </div>

    </div>
    
</section> {% endcomment %}

{% endblock main %}