{% extends 'base.html' %}
{% load static %}

{% block title %}<title>RentUi — Главная</title>{% endblock %}

{% block main %}

    <section class="parallax-section" style="background-image: url('https://ams3.digitaloceanspaces.com/fideakg/static-img/register.jpg');">
        <h1 class="glass-text">Rent Ui</h1>
    </section>

    <main class='hero' id='hero'>
        <div class="container">
            <div class="main-left">
                <h1 class='main-desc'>Аренда в Кыргызстане: Напрямую. Просто. Везде.</h1>
                <p>
                    Rent Ui — это открытая экосистема, которая объединяет владельцев жилья и арендаторов <br> 
                    во всех регионах нашей страны.
                    Мы создаем удобные инструменты для поиска и общения, чтобы вы могли быстро договориться о сделке без лишних посредников.
                    Наша цель — сделать рынок аренды прозрачным, объединив все актуальные предложения на одной платформе.
                </p>

                <a href="{% url 'about' %}" class='main-btn-1'>Узнать больше</a>
                <a href="{% url 'properties' %}" class='main-btn-2'>Посмотреть объявления</a>
            </div>

            <div class="main-right">
                <div class="main-stat-1">
                    <h2>Прямой контакт</h2>
                </div>
                <div class="main-stat-2">
                    <h2>Весь Кыргызстан</h2>
                </div>
                <div class="main-stat-3">
                    <h2>Ежедневные обновления</h2>
                </div>
            </div>
        </div>
    </main>

    {% comment %} <section class="reviews">
        <div class="container">
            <div class="reviews-top">
                <div class="reviews-top-desc">
                    <h1>Что говорят наши клиенты</h1>
                    <p>Посмотрите реальные истории тех, кто уже нашел жилье через наш сервис.
                       Узнайте, почему Rent Ui выбирают для поиска идеального дома в аренду.</p>
                </div>
            </div>

            <div class="reviews-bottom">
                <div class="reviews-content">
                    
                    {# Отзыв 1 #}
                    <div class="reviews-item">
                        <div class="reviews-profile">
                            <img src="{% static 'img/Profile.png' %}" alt="Аватар">
                            <div class="reviews-profile-text">
                                <h2>Домердиев Альберт</h2>
                                <p>Кыргызстан, Баткен</p>
                            </div>
                        </div>
                        <div class="reviews-text">
                            <h2>Отличный сайт!</h2>
                            <p>Очень крутой сервис! Нашли подходящий вариант буквально за пару дней. Всё чётко, профессионально и, главное, без нервов. Спасибо!</p>
                        </div>
                        <div class="reviews-stars">
                            {% for i in "12345" %}
                                <img src="{% static 'img/stars.png' %}" alt="Звезда">
                            {% endfor %}
                        </div>
                    </div>

                    {# Отзыв 2 #}
                    <div class="reviews-item">
                        <div class="reviews-profile">
                            <img src="{% static 'img/Profile.png' %}" alt="Аватар">
                            <div class="reviews-profile-text">
                                <h2>Каманбаева Анара</h2>
                                <p>Кыргызстан, Бишкек</p>
                            </div>
                        </div>
                        <div class="reviews-text">
                            <h2>Проверенный и надежный</h2>
                            <p>Отличный сервис! Сдали жилье выгодно и без лишней волокиты. Если цените свое время и нервы — вам точно сюда.</p>
                        </div>
                        <div class="reviews-stars">
                            {% for i in "12345" %}
                                <img src="{% static 'img/stars.png' %}" alt="Звезда">
                            {% endfor %}
                        </div>
                    </div>

                    {# Отзыв 3 #}
                    <div class="reviews-item">
                        <div class="reviews-profile">
                            <img src="{% static 'img/Profile.png' %}" alt="Аватар">
                            <div class="reviews-profile-text">
                                <h2>Коркоев Мирлан</h2>
                                <p>Кыргызстан, Ош</p>
                            </div>
                        </div>
                        <div class="reviews-text">
                            <h2>Нашли то, что искали</h2>
                            <p>«Использовал фильтры Rent Ui для поиска жилья. Система подбора сэкономила мне неделю просмотров. Рекомендую за актуальность базы.»</p>
                        </div>
                        <div class="reviews-stars">
                            {% for i in "12345" %}
                                <img src="{% static 'img/stars.png' %}" alt="Звезда">
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section> {% endcomment %}

{% endblock %}