{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" type="image/svg+xml" href="{% static 'img/icon.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&family=Syne:wght@400..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    {% block title %}<title>RentUi</title>{% endblock %}

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock extra_css %}

</head>
<body>


    <header>

        <div class="container">

            <div class="header-left">
                <img src="{% static 'img/Logo.png' %}" alt="Logo">
                <h2>Rent Ui</h2>
            </div>

            <div class="header-center">
                    <a href="{% url 'home' %}">Home</a>

                    <a href="{% url 'about'%}">About</a>

                {% if user.is_authenticated %}
                    <a href="{% url 'properties'%}">Properties</a>
                    {% else%}
                    <a href="{% url 'sign-up'%}">Properties</a>
                {% endif %}

                {% if user.is_authenticated %}
                    <a href="{% url 'services'%}">Services</a>
                    {% else%}
                    <a href="{% url 'sign-up'%}">Services</a>
                {% endif %}

                    <a href="{% url 'contacts'%}">Contact Us</a>

            </div>

        <div class="header-right">
            {% if user.is_authenticated %}
                <a href="{% url 'create'%}">Create</a>
                {% else%}
                <a href="{% url 'sign-up'%}">Log In</a>
            {% endif %}
        </div>

            </div>

    </header>

    {% block main %}

    <main class='hero' id='hero'>

        <div class="container">

            <div class="main-left">
                
                <h1 class='main-desc'> Discover Your Dream Property with Estatein </h1>
                <p>
                    Your journey to finding the perfect property begins here.
                    Explore our listings to find the home that matches your dreams.
                </p>

                <a href="{% url 'about'%}" class='main-btn-1'>Learn More</a>
                <a href="{% url 'properties' %}" class='main-btn-2'>Browse Properties</a>

                <div class="main-stat">

                    <div class="main-stat-1">
                        <h1>200+</h1>
                        <h2>Happy Customers</h2>
                    </div>

                    <div class="main-stat-2">
                        <h1>10k+</h1>
                        <h2>Properties For Client</h2>
                    </div>

                    <div class="main-stat-3">
                        <h1>16+</h1>
                        <h2>Years of Expirience</h2>
                    </div>

                </div>

            </div>

            

        </div>

        <div class="main-right">
            <img src="{% static 'img/main-image.png' %}" alt="">
        </div>



    </main>

{% comment %} Reiews {% endcomment %}

    <section class="reviews">

        <div class="container">

            <div class="reviews-top">

                <div class="reviews-top-desc">

                    <h1>What Our Clients Say</h1>
                    <p>Read the success stories and heartfelt testimonials from our valued clients.
                    Discover why they chose Estatein for their real estate needs.</p>

                </div>



            </div>

            <div class="reviews-bottom">

                {% comment %} отзывы {% endcomment %}
                <div class="reviews-content">

                    <div class="reviews-item">

                        <div class="reviews-stars">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                        </div>

                        <div class="reviews-text">

                            <h2>Exceptional Service!</h2>
                            <p>Our experience with Estatein was outstanding.
                            Their team's dedication and professionalism made finding our
                            dream home a breeze. Highly recommended!</p>

                        </div>

                        <div class="reviews-profile">

                            <img src="{% static 'img/profile.png' %}" alt="">
                            <div class="reviews-profile-text">
                                <h2>Wade Warren</h2>
                                <p>USA, California</p>
                            </div>

                        </div>

                    </div>

                    <div class="reviews-item">

                        <div class="reviews-stars">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                        </div>

                        <div class="reviews-text">

                            <h2>Efficient and Reliable</h2>
                            <p>Estatein provided us with top-notch service. 
                            They helped us sell our property quickly and at a great price. 
                            We couldn't be happier with the results.</p>

                        </div>

                        <div class="reviews-profile">

                            <img src="{% static 'img/profile (2).png' %}" alt="">
                            <div class="reviews-profile-text">
                                <h2>Emelie Thomson</h2>
                                <p>USA, Florida </p>
                            </div>

                        </div>

                    </div>

                    <div class="reviews-item">

                        <div class="reviews-stars">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                        </div>

                        <div class="reviews-text">

                            <h2>Trusted Advisors</h2>
                            <p>The Estatein team guided us through the entire buying process. 
                            Their knowledge and commitment to our needs were impressive. 
                            Thank you for your support!</p>

                        </div>

                        <div class="reviews-profile">

                            <img src="{% static 'img/profile (1).png' %}" alt="">
                            <div class="reviews-profile-text">
                                <h2>John Mans</h2>
                                <p>USA, Nevada</p>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>

    </section>

    {% endblock %}

    <hr>
    
    <footer class="footer">
        
        <div class="container">
            <div class="footer-top">
                <div class="footer-brand">
                    <div class="logo">
                        <img src="{% static 'img/Logo.png' %}" alt="Logo">
                        <h2>Rent Ui</h2>
                    </div>
                </div>

                <nav class="footer-nav">
                    <div class="nav-column">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'home' %}#hero">Hero Section</a>
                        <a href="{% url 'home' %}#featured">Featured</a>
                    </div>
                    <div class="nav-column">

                        <a href="{% url 'about' %}#">About Us</a>
                        <a href="https://www.instagram.com/fidea.312/" target="_blank">
                            Our Team
                        </a>

                    </div>
                    <div class="nav-column">
                        <a href="{% url 'properties' %}">Properties</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Our Clients</a>
                    </div>
                    <div class="nav-column">
                        <a href="{% url 'contacts' %}">Contact Us</a>
                        <a href="{%url 'contacts'%}#register">Contact Form</a>
                    </div>
                </nav>
            </div>

            

        </div>

        {% comment %} ------------------- {% endcomment %}
        
        <div class="container">

            <div class="footer-bottom">
                <div class="footer-info">
                    <span>@2026 RentUi. Made by 
                        <a href="https://www.instagram.com/fidea.312" style="color: #703BF7;" target="_blank">Fidea</a>
                {% comment %}                     
                        <a href="https://wa.me/+996554016042"> <span>   +996 554 016 042</span> </a> 
                        <a href="https://wa.me/+996999888615"> <span>   +996 999 888 615</span> </a>  {% endcomment %}
                    </span>

                </div>
        
            <div class="social-links">                    
                <a href="https://www.instagram.com/fidea.312/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://wa.me/+996999888615" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>

                <a href="#" target="_blank">
                    <i class="fa-brands fa-telegram"></i>
                </a>
            </div>
            
        </div>

        </div>

    </footer>


    

</body>
</html>