{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/svg+xml" href="{% static 'img/icon.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&family=Syne:wght@400..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    {% block title %}<title>RentUi</title>{% endblock %}

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock extra_css %}
</head>
<body>

    <header class="desktop-header">
        <div class="container">
            <div class="header-left">
                <img src="{% static 'img/Logo.png' %}" alt="Logo">
            </div>

            <div class="header-center">
                <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Главная</a>
                <a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">О нас</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'properties' %}" class="{% if request.resolver_match.url_name == 'properties' %}active{% endif %}">Объявления</a>
                {% else %}
                    <a href="{% url 'sign-up' %}" class="{% if request.resolver_match.url_name == 'sign-up' %}active{% endif %}">Объявления</a>
                {% endif %}
                <a href="{% url 'contacts' %}" class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">Контакты</a>
            </div>

            <div class="header-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'create' %}" class="btn-main-action">Создать объявление</a>
                {% else %}
                    <a href="{% url 'sign-up' %}" class="btn-main-action">Авторизоваться</a>
                {% endif %}
            </div>
        </div>
    </header>

    <nav class="mobile-tabbar">
        <a href="{% url 'home' %}" class="tab-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            <i class="fa-solid fa-house"></i>
            <span>Главная</span>
        </a>
        <a href="{% url 'about' %}" class="tab-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
            <i class="fa-solid fa-circle-info"></i>
            <span>О нас</span>
        </a>
        
        {% if user.is_authenticated %}
            <a href="{% url 'create' %}" class="tab-item tab-center-btn {% if request.resolver_match.url_name == 'create' %}active{% endif %}">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </a>
            <a href="{% url 'properties' %}" class="tab-item {% if request.resolver_match.url_name == 'properties' %}active{% endif %}">
                <i class="fa-solid fa-layer-group"></i>
                <span>Объявления</span>
            </a>
        {% else %}
            <a href="{% url 'sign-up' %}" class="tab-item tab-center-btn {% if request.resolver_match.url_name == 'sign-up' %}active{% endif %}">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-user-plus"></i>
                </div>
            </a>
            <a href="{% url 'sign-up' %}" class="tab-item {% if request.resolver_match.url_name == 'sign-up' %}active{% endif %}">
                <i class="fa-solid fa-layer-group"></i>
                <span>Объявления</span>
            </a>
        {% endif %}

        <a href="{% url 'contacts' %}" class="tab-item {% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">
            <i class="fa-solid fa-address-book"></i>
            <span>Контакты</span>
        </a>
    </nav>

    {% block main %}
    {% endblock %}

    <hr>
    
    <footer class="footer">
        <div class="container">
            <div class="footer-top">
                <nav class="footer-nav">
                    <div class="nav-column">
                        <a href="{% url 'about' %}#">О нас</a>
                        <a href="{% url 'home' %}">Главная</a>
                    </div>
                    <div class="nav-column">
                        <a href="{% url 'home' %}">Преимущества</a>
                        <a href="https://www.instagram.com/fidea.312/" target="_blank">Наша команда</a>
                    </div>
                    <div class="nav-column">
                        <a href="{% url 'contacts' %}">Связаться с нами</a>
                        <a href="{% url 'contacts' %}#register">Контакты</a>
                    </div>
                    <div class="nav-column">
                        <a href="{% url 'properties' %}">Арендовать жилье</a>
                        <a href="{% url 'properties' %}">Сдать в аренду жилье</a>
                    </div>
                </nav>
            </div>
        </div>
        
        <div class="container">
            <div class="footer-bottom">
                <div class="footer-info">
                    <span>@2026 RentUi. Разработано командой
                        <a href="https://www.instagram.com/rent.ui" style="color: #703BF7;" target="_blank">Fidea</a>
                    </span>
                </div>
        
                <div class="social-links">                    
                    <a href="https://www.instagram.com/fidea.312/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://wa.me/+996999888615" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://t.me/fidea_kg" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>