{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" type="image/svg+xml" href="{% static 'img/icon.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&family=Syne:wght@400..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    {% block title %}<title>RentUi</title>{% endblock %}

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock extra_css %}

</head>
<body>


    <header>

        <div class="container">

            <div class="header-left">
                <img src="{% static 'img/Logo.png' %}" alt="Logo">
                <h2>Rent Ui</h2>
            </div>

            <div class="header-center">
                <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Главная</a>

                <a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">О нас</a>

                <a href="{% url 'properties' %}" class="{% if request.resolver_match.url_name == 'properties' %}active{% endif %}">Объявления</a>

                {% if user.is_authenticated %}
                    <a href="{% url 'services' %}" class="{% if request.resolver_match.url_name == 'services' %}active{% endif %}">Сервис</a>
                {% else %}
                    <a href="{% url 'sign-up' %}" class="{% if request.resolver_match.url_name == 'sign-up' %}active{% endif %}">Сервис</a>
                {% endif %}

                <a href="{% url 'contacts' %}" class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">Контакты</a>
            </div>

            <div class="header-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'create'%}">Создать</a>
                    {% else%}
                    <a href="{% url 'sign-up'%}">Авторизоваться</a>
                {% endif %}
            </div>

            </div>

    </header>

    {% block main %}

    <main class='hero' id='hero'>

        <div class="container">

            <div class="main-left">
                
                <h1 class='main-desc'> Rent Ui - Ваш надежный проводник в мире недвижимости Кыргызстана.</h1>
                <p>
                    Аренда и продажа проверенных объектов в Бишкеке, Оше и по всей стране.
                    Мы объединяем владельцев и арендаторов на одной платформе для прозрачных сделок.
                </p>

                <a href="{% url 'about'%}" class='main-btn-1'>Узнать больше</a>
                <a href="{% url 'properties' %}" class='main-btn-2'>Посмотреть объявлнеия</a>

                <div class="main-stat">

                    <div class="main-stat-1">
                        <h1>100%</h1>
                        <h2>Проверенные объекты</h2>
                    </div>

                    <div class="main-stat-2">
                        <h1>Новые</h1>
                        <h2>Объекты каждый день</h2>
                    </div>

                    <div class="main-stat-3">
                        <h1>Премиум</h1>
                        <h2>Выбор объектов</h2>
                    </div>

                </div>

            </div>

        </div>


    </main>

{% comment %} Reiews {% endcomment %}

    <section class="reviews">

        <div class="container">

            <div class="reviews-top">

                <div class="reviews-top-desc">

                    <h1>Что говорят наши клиенты</h1>
                    <p>Посмотрите реальные истории тех, кто уже нашел жилье через наш сервис. 
                       Узнайте, почему Rent Ui выбирают для поиска идеального дома в аренду.</p>

                </div>

            </div>

            <div class="reviews-bottom">

                {% comment %} отзывы {% endcomment %}
                <div class="reviews-content">

                    <div class="reviews-item">

                        <div class="reviews-stars">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                        </div>

                        <div class="reviews-text">

                            <h2>Отличный сайт!</h2>
                            <p>Очень крутой сервис!
                               Нашли подходящий вариант буквально за пару дней. Всё чётко, профессионально и, главное, без нервов. 
                               Спасибо!</p>

                        </div>

                        <div class="reviews-profile">

                            <img src="{% static 'img/Profile.png' %}" alt="">
                            <div class="reviews-profile-text">
                                <h2>Домердиев Альберт</h2>
                                <p>Кыргызстан, Баткен</p>
                            </div>

                        </div>

                    </div>

                    <div class="reviews-item">

                        <div class="reviews-stars">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                        </div>

                        <div class="reviews-text">

                            <h2>Проверенный и надежный</h2>
                            <p>Отличный сервис! 
                               Сдали жилье выгодно и без лишней волокиты.
                               Если цените свое время и нервы - вам точно сюда.</p>

                        </div>

                        <div class="reviews-profile">

                            <img src="{% static 'img/Profile.png' %}" alt="">
                            <div class="reviews-profile-text">
                                <h2>Каманбаева Анара</h2>
                                <p>Кыргызстан, Бишкек </p>
                            </div>

                        </div>

                    </div>

                    <div class="reviews-item">

                        <div class="reviews-stars">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                            <img src="{% static 'img/stars.png' %}" alt="">
                        </div>

                        <div class="reviews-text">

                            <h2>Нашли то, что искали</h2>
                            <p>
                                «Использовал фильтры Rent Ui для поиска жилья.
                                Система подбора сэкономила мне неделю просмотров.
                                Рекомендую за актуальность базы.»
                            </p>

                        </div>

                        <div class="reviews-profile">

                            <img src="{% static 'img/Profile.png' %}" alt="">
                            <div class="reviews-profile-text">
                                <h2>Коркоев Мирлан</h2>
                                <p>Кыргызстан, Ош</p>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>

    </section>

    {% endblock %}

    <hr>
    
    <footer class="footer">
        
        <div class="container">
            <div class="footer-top">
                <div class="footer-brand">
                    <div class="logo">
                        <img src="{% static 'img/Logo.png' %}" alt="Logo">
                        <h2>Rent Ui</h2>
                    </div>
                </div>

                <nav class="footer-nav">
                    <div class="nav-column">
                        <a href="{% url 'home' %}">Главная</a>
                        <a href="{% url 'home' %}#hero">Главная страница</a>
                    </div>
                    <div class="nav-column">

                        <a href="{% url 'about' %}#">О нас</a>

                        <a href="https://www.instagram.com/fidea.312/" target="_blank">
                            Наша команда
                        </a>

                    </div>
                    <div class="nav-column">
                        <a href="{% url 'properties' %}">Объявления</a>
                        <a href="#">Наши клиенты</a>
                    </div>
                    <div class="nav-column">
                        <a href="{% url 'contacts' %}">Связаться с нами</a>
                        <a href="{%url 'contacts'%}#register">Контакты</a>
                    </div>
                </nav>
            </div>

            

        </div>

        {% comment %} ------------------- {% endcomment %}
        
        <div class="container">

            <div class="footer-bottom">
                <div class="footer-info">
                    <span>@2026 RentUi. Made by 
                        <a href="https://www.instagram.com/fidea.312" style="color: #703BF7;" target="_blank">Fidea</a>
                {% comment %}                     
                        <a href="https://wa.me/+996554016042"> <span>   +996 554 016 042</span> </a> 
                        <a href="https://wa.me/+996999888615"> <span>   +996 999 888 615</span> </a>  {% endcomment %}
                    </span>

                </div>
        
            <div class="social-links">                    
                <a href="https://www.instagram.com/fidea.312/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://wa.me/+996999888615" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>

                <a href="https://t.me/fidea_kg" target="_blank">
                    <i class="fa-brands fa-telegram"></i>
                </a>
            </div>
            
        </div>

        </div>

    </footer>


    

</body>
</html>