{% extends "base.html" %}
{% load static %}

{% block title %}<title>Объявления</title>{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/properties.css' %}">

<main class="hero-section">
    <div class="container">
        <div class="hero-content">
            <h1>Найдите дом своей мечты</h1>
            <p>
                Добро пожаловать в RentUi: здесь недвижимость вашей мечты ждет вас в любом уголке нашего прекрасного мира.
                Исследуйте нашу подборку эксклюзивных объектов.
            </p>
        </div>

        <div class="search-container">
            <div class="search-main">
                <input type="text" placeholder="Search For A Property" class="search-input">
                <button type="button" class="btn-search">
                    <span class="icon-search">🔍</span> Поиск недвижимости
                </button>
            </div>

            <div class="filters-grid">
                <div class="filter-item">
                    <span class="filter-icon">📍</span>
                    <select name="location"><option value="">Локация</option></select>
                </div>
                <div class="filter-item">
                    <span class="filter-icon">📍</span>
                    <select name="location"><option value="">Локация</option></select>
                </div>
                <div class="filter-item">
                    <span class="filter-icon">🏠</span>
                    <select name="property-type"><option value="">Тип недвижимости</option></select>
                </div>
                <div class="filter-item">
                    <span class="filter-icon">💰</span>
                    <select name="pricing-range"><option value="">Диапазон цен</option></select>
                </div>
            </div>
        </div>
    </div>
</main>

<section class="properties-list">
    <div class="container">
        {% for el in anons %}
        <div class="property-card">
            <div class="property-info">
                <p class="property-created">{{ el.created_at }}</p>
                <h2 class="property-title">{{ el.title }}</h2>
                <p class="property-desc">{{ el.description }}</p>
                <p class="property-price">{{ el.price }} сом</p>
                
                <p class="property-autor">📍 Адрес: {{ el.address|default:"Не указан" }}</p>
                <p class="property-saller">👤 Продавец: {{ el.author.username }}</p>
            </div>
            
            {% if el.image %}
                <div class="property-image">
                    <img src="{{ el.image.url }}" alt="{{ el.title }}">
                </div>
            {% endif %}
        </div>
        {% empty %}
            <p style="text-align: center; padding: 50px;">Объявлений пока нет.</p>
        {% endfor %}
    </div>
</section>
{% endblock main %}