{% extends "base.html" %}
{% load static %}

{% block title %}<title>Сервисы</title>{% endblock %}


<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block main %}


<link rel="stylesheet" href="{% static 'css/services.css' %}">


<main class="hero-section">
    <div class="container">
        <div class="hero-text">
            <h1>Elevate Your Real Estate Experience</h1>
            <p>Welcome to Estatein, where your real estate aspirations meet expert guidance. Explore our comprehensive range of services, each designed to cater to your unique needs and dreams.</p>
        </div>

        <div class="services-grid">
            <div class="service-card">
                <a href="{% url 'properties' %}">

                    <div class="icon-box"><img src="{% static 'img/service3.png' %}" alt=""></div>
                    <p>Find Your Dream Home</p>
                    <img class="arrow" src="{% static 'img/arrow.png' %}" alt="">

                </a>
            </div>

            <div class="service-card">
                <a href="{% url 'about' %}">

                <div class="icon-box"><img src="{% static 'img/service1.png' %}" alt=""></div>
                <p>Unlock Property Value</p>
                <img class="arrow" src="{% static 'img/arrow.png' %}" alt="">

                </a>
            </div>

            <div class="service-card">
                <a href="https://www.instagram.com/fidea.312/">

                <div class="icon-box"><img src="{% static 'img/service.png' %}" alt=""></div>
                <p>Effortless Property Management</p>
                <img class="arrow" src="{% static 'img/arrow.png' %}" alt="">

                </a>
            </div>



        </div>
    </div>
</main>

<section class="info">

<div class="container">

    <div class="info-left">

        <h1>Smart Investments, Informed Decisions</h1>
        <p>Building a real estate portfolio requires a strategic approach.
        Estatein's Investment Advisory Service empowers you to make smart investments and informed decisions.</p>
        
        <div class="info-bottom">
            <h2>Unlock Your Investment Potential</h2>
            <p>
                Explore our Property Management Service
                categories and let us handle the complexities while you enjoy the benefits of
                property ownership.
            </p>

            <a href="">Learn More</a>
        </div>

    </div>

    <div class="info-right">

        <div class="info-right-top">


                <div class="info-card">

                    <div>
                        <img src="{% static 'img/stats.png' %}">
                        <h2>Market Insight</h2>
                    </div>

                    <p>Stay ahead of market trends with our expert Market Analysis.
                    We de in-depth insights into real estate market conditions</p>

                </div>


                <div class="info-card">
                    <div>
                        <img src="{% static 'img/stats.png' %}" alt="LinkedIn">
                        <h2>Market Insight</h2>
                    </div>

                    <p>Stay ahead of market trends with our expert Market Analysis.
                    de in-depth insights into real estate market conditions</p>

                </div>

        </div>



        <div class="info-right-bottom">

                <div class="info-card">
                    
                    <div>
                        <img src="{% static 'img/stats.png' %}" alt="LinkedIn">
                        <h2>Market Insight</h2>
                    </div>

                     <p>Stay ahead of market trends with our expert Market Analysis.
                    We provide in-depth insights into real estate market conditions</p>

                </div>


                <div class="info-card">
                    <div>
                        <img src="{% static 'img/stats.png' %}" alt="LinkedIn">
                        <h2>Market Insight</h2>
                    </div>
                    <p>Stay ahead of market trends with our expert Market Analysis.
                    We provide in-depth insights into real estate market conditions</p>

                </div>
    

        </div>

    </div>

</div>
    
</section>

{% endblock main %}