{% extends "base.html" %}
{% load static %}


{% block title %}<title>Регитрация</title>{% endblock %}



{% block main %}
<link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
<body>
    <style>
    body {
        background: url("{% static 'img/sign-up-bg.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
    </style>

<section class="auth-section">
    <div class="auth-container">
        <h2>Регистрация</h2>
        <p id='create'>Создайте аккаунт, чтобы продолжить</p>

        <form method="post" class="auth-form">
            {% csrf_token %}

            <div class="form-group">
                <label for="email">Электронная почта</label>
                <input type="email" name="email" id="email" placeholder="example@gmail.com" required>
            </div>

            <div class="form-group">
                <label for="password">Пароль</label>
                <div class="password-wrapper">
                    <input type="password" name="password" id="password" placeholder="Введите пароль" required>
                    <button type="button" id="togglePassword" class="toggle-btn">
                        👁️
                    </button>
                </div>
            </div>

            <div class="form-options">
                <label class="checkbox-container">
                    <input type="checkbox" name="remember_me">
                    <span class="checkmark"></span>
                    <p class='remind-me'>Запомнить меня</p>
                </label>
            </div>

            <button type="submit" class="auth-btn">Зарегистрироваться</button>

            <p class="auth-footer">
                Уже есть аккаунт? <a href="#">Войти</a>
            </p>
        </form>
    </div>
</section>

</body>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function (e) {
        // переключаем тип инпута
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // меняем иконку (опционально)
        this.textContent = type === 'password' ? '👁️' : '🙈';
    });
</script>
{% endblock main %}