{% extends "base.html" %}
{% load static %}  {% block title %} <title>Создать объявление</title> {% endblock title %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">

<div class="create-section">
    <div class="create-container">
        <h2>Новое объявление</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    
                    {% if field.errors %}
                        <small style="color: #ff4d4d;">{{ field.errors }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="extra-images-list" style="display: flex; gap: 5px; margin-top: 10px;">
                {% for extra in el.announcementimage_set.all %}
                    <img src="{{ extra.image.url }}" style="width: 40px; height: 40px; border-radius: 4px; object-fit: cover;">
                {% endfor %}
            </div>

            <button type="submit" class="submit-btn">Опубликовать</button>
        </form>
    </div>
</div>

</body>
{% endblock %}